{% extends "DebbManagementBundle::form.html.twig" %}
{% form_theme form "DebbManagementBundle::form_theme.html.twig" %}
{% import _self as nodegroupdraft %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
	'bundles/debbconfig/css/jquery-ui.min.css'
	%}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
	{% endstylesheets %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts
					'@DebbConfigBundle/Resources/public/js/jquery-ui.min.js'
					'@DebbManagementBundle/Resources/public/js/nodegroupdraft.js'
	%}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}

{% block form %}
	{{ parent() }}
	<div class="row-fluid">
		{% set spaceInfoWidth = 55 %}
		{% set itemtypspecification = item.typspecification %}
		{% if itemtypspecification | keys|default({0: -1}).0 == 0 %}
			{% set itemtypspecification = itemtypspecification | reverse %}
		{% endif %}
		<div class="nodegroupSpaceTop" style="text-align: center;">
			<input id="randinput1" type="number" style="width: {{ spaceInfoWidth }}px;" value="{{ form.spaceTop.vars.data }}" refto="debb_managementbundle_nodegroupdrafttype_spaceTop" /> [m]
		</div>
		<div class="nodegroupSpaceInfo" style="position: relative; float: left;">
			<input id="randinput2" type="number" style="width: {{ spaceInfoWidth }}px;" value="{{ form.spaceLeft.vars.data }}" refto="debb_managementbundle_nodegroupdrafttype_spaceLeft" /> [m]
		</div>
		<div id="nodegroup" style="margin: 10px; padding: 0px; border-left: 1px solid #777; border-top: 1px solid #777;"
			 data-prototype="{{ nodegroupdraft.typspec(nodetypspecs) | e }}">{% for key, value in itemtypspecification %}{{ nodegroupdraft.typspec(nodetypspecs, value, key, true) }}{% endfor %}</div>
		<div class="nodegroupSpaceInfo" style="position: relative; float: right;">
			<input id="randinput3" type="number" style="width: {{ spaceInfoWidth }}px;" value="{{ form.spaceRight.vars.data }}" refto="debb_managementbundle_nodegroupdrafttype_spaceRight" /> [m]
		</div>
		<div class="clear"></div>
		<div class="nodegroupSpaceBottom" style="text-align: center;">
			<input id="randinput4" type="number" style="width: {{ spaceInfoWidth }}px;" value="{{ form.spaceBottom.vars.data }}" refto="debb_managementbundle_nodegroupdrafttype_spaceBottom" /> [m]
		</div>
	</div>
{% endblock %}

{% macro typspec(nodetypspecs, selectedValue, name, nodeContainer) %}
	{% if nodeContainer is null or nodeContainer == true %}<div class="node" style="height: 50px; width: 50px; padding: 10px; margin: 0px;">{% endif %}
		<select name="typspec[{{ name | default('__name__') }}]" id="debb_managementbundle_nodegroupdrafttype_typspec_{{ name | default('__name__') }}" style="{% if nodeContainer is null or nodeContainer == true %}display: none;{% endif %}">
			{% for key, value in nodetypspecs|default({}) %}
				<option value="{{ key }}"{% if selectedValue is defined and selectedValue is not null and selectedValue == key %} selected="selected"{% endif %}>{{ value | trans }}</option>
			{% endfor %}
		</select>
	{% if nodeContainer is null or nodeContainer == true %}</div>{% endif %}
{% endmacro %}
