{% extends "DebbManagementBundle::form.html.twig" %}
{% form_theme form "DebbManagementBundle::form_theme.html.twig" %}

{% block stylesheets %}
	{% stylesheets filter='cssrewrite'
	'bundles/debbconfig/css/uploadify.css'
	%}
	<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
	{% endstylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts
	'@DebbConfigBundle/Resources/public/js/node.js'
	'@DebbConfigBundle/Resources/public/js/jquery.uploadify.min.js'
	%}
	<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
	<script type="text/javascript">
		$(function() {
			$("#upload_image").uploadify({
				height          : 20,
				swf             : '{{ asset('bundles/debbconfig/swf/uploadify.swf') }}',
				uploader        : '{{ path('debb_config_default_upload') }}',
				width           : 160,
				multi           : false,
				fileTypeExts    : '*.jpg; *.png; *.jpeg; *.gif; *.bmp',
				buttonText	    : '{{ 'upload image file' | trans | e }}',
				onUploadSuccess : function(file, data, response)
				{
					var obj = jQuery.parseJSON(data);
					if(obj.is_image == true)
					{
						$('#debb_configbundle_nodetype_image').val(obj.fileId);
						$('.node_image').css('background-image', "url('" + obj.thumb + "')");
					}
				}
			});
			$("#upload_vrml").uploadify({
				height          : 15,
				swf             : '{{ asset('bundles/debbconfig/swf/uploadify.swf') }}',
				uploader        : '{{ path('debb_config_default_upload') }}',
				width           : 80,
				multi           : false,
				fileTypeExts    : '*.wrl',
				buttonText	    : 'VRML',
				onUploadSuccess : function(file, data, response)
				{
					var obj = jQuery.parseJSON(data);
					$('#debb_configbundle_nodetype_vrmlFile').val(obj.fileId);
					$('#vrmlFileName').html(file.name);
					{# if(typeof(obj.dimension) != 'undefined')
					{
						$('#sizex').html(obj.dimension.sizex);
						$('#debb_configbundle_nodetype_sizeX').val(obj.dimension.sizex);
						$('#sizey').html(obj.dimension.sizey);
						$('#debb_configbundle_nodetype_sizeY').val(obj.dimension.sizey);
						$('#sizez').html(obj.dimension.sizez);
						$('#debb_configbundle_nodetype_sizeZ').val(obj.dimension.sizez);
					} #}
				}
			});
			$("#upload_stl").uploadify({
				height          : 15,
				swf             : '{{ asset('bundles/debbconfig/swf/uploadify.swf') }}',
				uploader        : '{{ path('debb_config_default_upload') }}',
				width           : 80,
				multi           : false,
				fileTypeExts    : '*.stl',
				buttonText	    : 'STL',
				onUploadSuccess : function(file, data, response)
				{
					var obj = jQuery.parseJSON(data);
					$('#debb_configbundle_nodetype_stlFile').val(obj.fileId);
					$('#stlFileName').html(file.name);
				}
			});
		});
	</script>
{% endblock %}

{% block topForm %}
    <div style="width: 100%; border-bottom: 1px dashed #DFDFDF; height: 1px;"></div>

    <div class="row-fluid">
        <div class="span6">
            <div class="componentBox" style="border-left: 1px solid #DFDFDF; padding-left: 5px;" data-prototype="{{ form_row(form.components.vars.prototype) | escape }}">
                {% for component in form.components if component.vars.data.type != component_type('STORAGE') %}
                    <div class="component">
                        {{ form_widget(component) }}
                        <div class="componentExtras">
                            <div class="addComponent" rel="tooltip" data-original-title="{{ 'add' | trans() }}">
                                <i class="icon-plus"></i>
                            </div>
                            <div class="delComponent" rel="tooltip" data-original-title="{{ 'delete' | trans() }}">
                                <i class="icon-remove"></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="span6">
            <div class="componentBoxHdds">
                {% for component in form.components if component.vars.data.type == component_type('STORAGE') %}
                    <div class="component">
                        {{ form_widget(component) }}
                        <div class="componentExtras">
                            <div class="addComponent" rel="tooltip" data-original-title="{{ 'add' | trans() }}">
                                <i class="icon-plus"></i>
                            </div>
                            <div class="delComponent" rel="tooltip" data-original-title="{{ 'delete' | trans() }}">
                                <i class="icon-remove"></i>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="clear"></div>
    {{ form_widget(form._token) }}
{% endblock %}

{% block content %}
	<div class="row-fluid" style="position: relative; min-height: 320px;">
		<div class="span3" style="position: relative;">
			<div class="row node_image" style="{% if form.image.vars.data is not null %}background-image: url('{{ form.image.vars.data.fullPath|apply_filter('admin_thumb') }}');{% endif %}">
			</div>
            <div class="span4" style="text-align: left; margin-left: 25px;">
                <input type="file" name="upload_image" id="upload_image" />
                {{ form_widget(form.image) }}
            </div>
		</div>
        <div class="uploadVrl">
            {# <div class="row">
                <div class="span5" style="text-align: right; font-weight: bold;">
                    {{ 'Dimensions' | trans }}:
                </div>
                <div class="span7" style="text-align: left;">
                    {% spaceless %}
                        <span id="sizex">{{ form.sizeX.vars.data }}</span> mm
                        <input type="hidden" name="debb_configbundle_nodetype[sizeX]" id="debb_configbundle_nodetype_sizeX" value="{{ form.sizeX.vars.data }}" />
                        x <span id="sizey">{{ form.sizeY.vars.data }}</span> mm
                        <input type="hidden" name="debb_configbundle_nodetype[sizeY]" id="debb_configbundle_nodetype_sizeY" value="{{ form.sizeY.vars.data }}" />
                        x <span id="sizez">{{ form.sizeZ.vars.data }}</span> mm
                        <input type="hidden" name="debb_configbundle_nodetype[sizeZ]" id="debb_configbundle_nodetype_sizeZ" value="{{ form.sizeZ.vars.data }}" />
                    {% endspaceless %}
                </div>
            </div> #}
            <div class="row">
                <div class="span5" style="text-align: right; font-weight: bold;">
                    {{ '3D model' | trans }}:
                </div>
                <div class="span4" style="text-align: left;">
                    <input type="file" name="upload_vrml" id="upload_vrml" />
                    {{ form_widget(form.vrmlFile) }}
                </div>
                <div class="span3" style="text-align: left;" id="vrmlFileName">
                    {% if form.vrmlFile.vars.data is not null %}{{ form.vrmlFile.vars.data.name }}{% endif %}
                </div>
            </div>
            <div class="row">
                <div class="span5">&nbsp;</div>
                <div class="span4" style="text-align: left;">
                    <input type="file" name="upload_stl" id="upload_stl" />
                    {{ form_widget(form.stlFile) }}
                </div>
                <div class="span3" style="text-align: left;" id="stlFileName">
                    {% if form.stlFile.vars.data is not null %}{{ form.stlFile.vars.data.name }}{% endif %}
                </div>
            </div>
        </div>
		<div class="span9" style="border-left: 1px solid #DFDFDF; padding-left: 5px;">
            {% set topForm = block('topForm') %}
            <div style="margin-left: 6px;">{{ form_rest(form) }}</div>
            {{ topForm | raw }}
		</div>
	</div>
{% endblock %}
