{% extends "DebbManagementBundle::form.html.twig" %}
{% form_theme form "DebbManagementBundle::form_theme.html.twig" %}

{% block content %}
	<form action="{% if item.id is null %}{{ path( localdev_admin_route('_form')) }}{% else %}{{ path( localdev_admin_route('_form'), {id: item.id}) }}{% endif %}"
		  class="clearfix"
		  method="post" {{ form_enctype(form) }}>
		<h1>{{ ((item.id == null) ? 'localdev_admin.title.add' : 'localdev_admin.title.edit') | trans({"%name%":localdev_admin_name()}, 'crud') }}</h1>

		<div class="well">
			{% block form %}
				<div class="row{{ localdev_admin.layout.fluid }}">
					{{ form_widget(form) }}
				</div>
			{% endblock %}
		</div>
	</form>
{% endblock %}