{% extends "DebbManagementBundle::form.html.twig" %}
{% form_theme form "DebbManagementBundle::form_theme.html.twig" %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@DebbConfigBundle/Resources/public/js/node.js' %}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<div class="row-fluid">
		<div class="span3" style="">
			<div class="node_img">
				{{ form_widget(form.image) }}
			</div>
			<div class="node_mainboard">
				{{ form_label(form.mainboard) }}
				{{ form_widget(form.mainboard) }}
			</div>
		</div>
		<div class="span9" style="border-left: 1px solid #DFDFDF; padding-left: 5px;">
			<div class="row-fluid">
				<div class="span6">
					<div class="node_product">
						{{ 'Product' | trans }}: {{ form_widget(form.product) }}
					</div>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span6">
					<div class="node_manufacturer">
						{{ 'Manufacturer' | trans }}: {{ form_widget(form.manufacturer) }}
					</div>
				</div>
				<div class="span6">
					<div class="node_model">
						{{ 'Model' | trans }}: {{ form_widget(form.model) }}
					</div>
				</div>
			</div>
			<div style="width: 100%; border-bottom: 1px dashed #DFDFDF; height: 1px;"></div>

			{% autoescape false %}{% set componentPrototype = form_row(form.components.vars.prototype) %}{% endautoescape %}

			<div class="row-fluid">
				<div class="span6">
					<div class="componentBox" style="border-left: 1px solid #DFDFDF; padding-left: 5px;" data-prototype="{{ componentPrototype | escape }}">
						{% set processorSet = false %}
						{% set coolingDeviceSet = false %}
						{% set powerSupplySet = false %}
						{% set memorySet = false %}
						{% set lastId = 0 %}

						{% for component in form.components if component.vars.data.type != component_type('STORAGE') %}
							{% if component.vars.data.type == component_type('PROCESSOR') %}{% set processorSet = true %}{% endif %}
							{% if component.vars.data.type == component_type('COOLING_DEVICE') %}{% set coolingDeviceSet = true %}{% endif %}
							{% if component.vars.data.type == component_type('POWER_SUPPLY') %}{% set powerSupplySet = true %}{% endif %}
							{% if component.vars.data.type == component_type('MEMORY') %}{% set memorySet = true %}{% endif %}
							<div class="component">
								{{ form_widget(component) }}
							</div>
							{% set lastId = loop.index %}
						{% endfor %}

						{% autoescape false %}
							{% if processorSet == false %}
								<div class="component">{{ componentPrototype | replace({'__name__': plus_it(lastId)}) }}</div>
							{% endif %}
							{% if coolingDeviceSet == false %}
								<div class="component">{{ componentPrototype | replace({'__name__': plus_it(lastId)}) }}</div>
							{% endif %}
							{% if powerSupplySet == false %}
								<div class="component">{{ componentPrototype | replace({'__name__': plus_it(lastId)}) }}</div>
							{% endif %}
							{% if memorySet == false %}
								<div class="component">{{ componentPrototype | replace({'__name__': plus_it(lastId)}) }}</div>
							{% endif %}
						{% endautoescape %}
					</div>
				</div>
				<div class="span6">
					<div class="componentBoxHdds" data-prototype="{{ form_row(form.components.vars.prototype) | escape }}">
						{% set hddSet = false %}
						{% for component in form.components if component.vars.data.type == component_type('STORAGE') %}
							{% set hddSet = true %}
							<div class="component">
								{{ form_widget(component) }}
							</div>
							{{ plus_it(lastId) }}
						{% endfor %}
						{% autoescape false %}
							{% if hddSet == false %}
								<div class="component">{{ componentPrototype | replace({'__name__': plus_it(lastId)}) }}</div>
							{% endif %}
						{% endautoescape %}
					</div>
				</div>
			</div>
			<div class="clear"></div>
			<a href="#" class="addComponent">{{ 'add.%what%' | trans({'%what%': 'Component' | trans}) }}</a>
			{{ form_rest(form) }}
		</div>
	</div>
{% endblock %}
