{% extends "DebbManagementBundle::form.html.twig" %}
{% form_theme form "DebbManagementBundle::form_theme.html.twig" %}
{% import _self as chassis %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
		'bundles/debbconfig/css/jquery-ui.min.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
	{% endstylesheets %}
	<style>
		.node { padding: 10px; margin: 0px; }
	</style>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts
					'@DebbConfigBundle/Resources/public/js/jquery-ui.min.js'
					'@DebbManagementBundle/Resources/public/js/chassis.js'
	%}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
    <script type="text/javascript">
        $(function()
          {
              $('label[data-title]').popover({html: true});
          });
        var chassisId = {{ form.vars.data.id | default(0) }};
    </script>
{% endblock %}

{% set chassisSizeX = form.vars.data.sizeX %}
{% set chassisSizeY = form.vars.data.sizeY %}

{% block form %}
	{% do form.typspecification.setRendered() %}
	{{ parent() }}
	<div class="row-fluid" style="border: 1px solid #888; padding: 10px 5px 0; background-color: #E3E3E3; max-width: 910px;">
		<div>
			<a href="#" class="addNode">{{ 'Add node' | trans }}</a>
		</div>
		<div class="clear"></div>

		{% set spaceInfoWidth = 75 %}
		{% set itemtypspecification = item.typspecification %}
		{% if itemtypspecification | keys|default({0: -1}).0 == 0 %}
			{% set itemtypspecification = itemtypspecification | reverse %}
		{% endif %}
		<div id="nodegroupContainer" data-prototype="{{ chassis.typspec(nodetypspecs, form.typspecification.vars.prototype) | e }}" style="width: {{ chassisSizeX }}px; height: {{ chassisSizeY }}px;">
			{%- for typspec in form.typspecification -%}
				{{ chassis.typspec(nodetypspecs, typspec, true) }}
			{%- endfor -%}
		</div>
		<div id="rackScale" style="float: left; left: 1px; top: -16px; width: 99px;"><i class="icon-arrow-left"></i> {{ 'Scale' | trans }} 10cm <i class="icon-arrow-right"></i></div>
		<div class="clear"></div>
	</div>
{% endblock %}

{% macro typspec(nodetypspecs, nodeForm, nodeContainer) %}
	{% if nodeContainer is null or nodeContainer == true -%}
		<div class="node node{{ nodeForm.vars.data.rotation | default(0) }}Deg" posx="{{ nodeForm.vars.data.posX|default('') }}" posy="{{ nodeForm.vars.data.posY|default('') }}" posz="{{ nodeForm.vars.data.posZ|default('') }}">
	{%- endif %}
	{%- set nodeRot -%}
		{%- spaceless -%}
			{% if nodeForm.vars.data.rotation|default() is not empty %}
				{% if nodeForm.vars.data.rotation > 0 and nodeForm.vars.data.rotation < 91 %}
					left
				{% elseif nodeForm.vars.data.rotation > 90 and nodeForm.vars.data.rotation < 181 %}
					up
				{% elseif nodeForm.vars.data.rotation > 180 and nodeForm.vars.data.rotation < 271 %}
					right
				{% else %}
					down
				{% endif %}
			{% else %}
				down
			{% endif %}
		{%- endspaceless -%}
	{%- endset -%}
		<a href="#" class="removeNode"><i class="icon-trash"></i></a> - <a class="rotateNode" href="#"><i class="icon-arrow-{{ nodeRot }}"></i></a>
		<select name="{{ nodeForm.typ.vars.full_name }}" id="{{ nodeForm.typ.vars.id }}" style="margin-left: -7px; width: 63px; margin-top: 25px;">
			{% for value in nodetypspecs|default({}) %}
				{%- set selectedValue = nodeForm.typ.vars.data -%}
				<option value="{{ value.type }}"{% if selectedValue is defined and selectedValue is not null and selectedValue == value.type %} selected="selected"{% endif %}>{{ value.type | trans }}</option>
			{% endfor %}
		</select>
		{% do nodeForm.typ.setRendered() %}
		{{ form_widget(nodeForm) }}
	{% if nodeContainer is null or nodeContainer == true %}</div>{% endif %}
{% endmacro %}
