{% extends "::gui_base.html.twig" %}

{% block menu_left %}
    <div id="config-menu">
        {{ knp_menu_render('main') }}
    </div>
{% endblock %}

{%- block stylesheets -%}
    {{- parent() -}}
    {%- if isCoolEmAllGui is not defined or isCoolEmAllGui == true -%}
        {%- stylesheets filter='cssrewrite'
                                            'bundles/debbconfig/css/coolemall.css' -%}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {%- endstylesheets -%}
    {%- endif -%}
{%- endblock -%}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
                    '@DebbConfigBundle/Resources/public/js/debbcomponents.js'
                    '@BazingaExposeTranslationBundle/Resources/public/js/translator.min.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script src="{{ url('bazinga_exposetranslation_js') }}" type="text/javascript"></script>
{% endblock %}
