{% set showTitle = true %}
{% extends "::base.html.twig" %}
{% block title %}{{ ((item.id == null) ? 'localdev_admin.title.add' : 'localdev_admin.title.edit') | trans({"%name%":localdev_admin_name(false)}, 'crud') }}{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@DebbManagementBundle/Resources/public/js/form.js' %}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}

{% block form_header %}
	<form action="{% if item.id is null %}{{ path( localdev_admin_route('_form')) }}{% else %}{{ path( localdev_admin_route('_form'), {id: item.id}) }}{% endif %}"
		  class="clearfix"
		  method="post" {{ form_enctype(form) }}>
{% endblock %}

{% block content %}
	<h1>{{ ((item.id == null) ? 'localdev_admin.title.add' : 'localdev_admin.title.edit') | trans({"%name%":localdev_admin_name()}, 'crud') }}</h1>

	{% block form %}
		<div class="row{{ localdev_admin.layout.fluid }}">
			{{ form_widget(form) }}
		</div>
	{% endblock %}
{% endblock %}

{% block buttonbar %}
	<a href="{{ path(localdev_admin_route('_index')) }}" class="blue-button white">{{ 'localdev_admin.actions.back'|trans({}, 'crud') }}</a>
	<button class="blue-button blue" type="submit">{{ 'localdev_admin.actions.save'|trans({}, 'crud') }}</button>
{% endblock %}

{% block form_footer %}
	</form>
{% endblock %}