{% set showTitle = true %}
{% extends "::base.html.twig" %}
{% block title %}{{ localdev_admin_name(true) }}{% endblock %}

{% block content %}
	{% block index_table %}
		<table class="table table-striped">
			<thead>
				<tr>
					{% block thead %}
						<th>{{ 'localdev_admin.fields.name'|trans({}, 'crud') }}</th>
					{% endblock %}
					<th>
						<div class="pull-right">{{ 'localdev_admin.fields.options'|trans({}, 'crud') }}</div>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					{% block tbody %}
						<tr>
							{% block trow %}
								<td>{{ item }}</td>
							{% endblock %}
							<td class="options">
								{% block tbutton_group %}
									<div class="btn-group pull-right">
										{% block tbuttons %}
											{% block tbuttons_base %}
												{% spaceless %}
													<a href="{{ path(localdev_admin_route("_form"), {"id":item.id}) }}" class="btn">
														<i class="icon-edit"></i>
													</a>
													<a class="btn btn-danger" data-toggle="modal"
													   href="#delete{{ item.id }}">
														<i class="icon-remove icon-white"></i>
													</a>
												{% endspaceless %}
											{% endblock %}
										{% endblock %}
									</div>
								{% endblock %}
								<div class="modal hide" id="delete{{ item.id }}">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">×</button>
										<h3>{{ 'localdev_admin.delete.header'|trans({'%name%':item}, 'crud') }}</h3>
									</div>
									<div class="modal-body">
										<p>{{ 'localdev_admin.delete.message'|trans({'%name%':item}, 'crud')|nl2br }}</p>
									</div>
									<div class="modal-footer">
										<a href="#" class="btn" data-dismiss="modal">
											{{ 'localdev_admin.actions.close'|trans({}, 'crud') }}
										</a>
										<a href="{{ path(localdev_admin_route("_remove"), {"id":item.id}) }}" class="btn btn-danger">
											{{ 'localdev_admin.delete.confirm'|trans({'%name%':item}, 'crud') }}
										</a>
									</div>
								</div>
							</td>
						</tr>
					{% endblock %}
				{% endfor %}
			</tbody>
		</table>
	{% endblock %}
{% endblock %}

{% block buttonbar %}
	<a href="{{ path(localdev_admin_route("_form")) }}"
	   class="button btn btn-primary">{{ 'localdev_admin.actions.add' | trans({"%name%":localdev_admin_name()}, 'crud') }}</a>
{% endblock %}