{% set exportasarchive = true %}
{% extends "DebbManagementBundle::form.html.twig" %}
{% form_theme form "DebbManagementBundle::form_theme.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		input[type="text"] { width: 285px; }
		select { width: 302px; }
		#content { padding: 0 0 0 0 !important; min-width: {% if isCoolEmAllGui is not defined or isCoolEmAllGui == true %}961{% else %}982{% endif %}px; }
		.buttonbar { margin-right: -1px; margin-top: 15px; }
        label { width: 300px; }
	</style>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@DebbConfigBundle/Resources/public/js/rack.js' %}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
	<script type="text/javascript">
		var rackId = {{ form.vars.data.id | default(0) }};
        $(function()
          {
              $('.rack_title').tooltip();
              $('.nodegroup').tooltip({placement: 'right'});
          });
	</script>
{% endblock %}

{% block content %}
	<div class="rackTop">&nbsp;</div>
	<div class="rack" data-prototype="{{ form_row(form.nodegroups.vars.prototype) | escape }}">
		{% set formNodeGroups = form.nodegroups | reverse %}
		{% if formNodeGroups|length > 0 and formNodeGroups[0].vars.value.field == 0 %}
			{% set formNodeGroups = formNodeGroups | reverse %}
		{% endif %}
		{% for nodeGroup in formNodeGroups %}
			<div class="nodegroup" data-original-title="{{ (nodeGroup.vars.id|replace({"debb_configbundle_racktype_nodegroups_":""})+1) }}.">
				{{ form_widget(nodeGroup, {attr: {'style': 'display: none'}}) }}
				<span id="{{ nodeGroup.vars.id }}_title" data-toggle="tooltip" class="rack_title" data-original-title="{{ nodeGroup.vars.value.nodegroup }}" size="{{ nodeGroup.vars.data.nodegroup.draft.heSize | default(1)}}">{{ nodeGroup.vars.value.nodegroup }}</span>
			</div>
		{% endfor %}
	</div>
	<div class="extraContent">
        {{ form_errors(form) }}
		<div style="margin-left: 13px; color: #555;">
			{% do form.nodegroups.setRendered %}
			{{ form_rest(form) }}
        </div>
        <div class="clear"></div>

		<div class="rackConfigArea">
			<div class="nodegroup-selector">
				<h5>{{ 'node.group' | trans }}:</h5>
			</div>

			<div class="rackConfig">
				<select id="selectedNodeGroup" disabled="disabled" style="margin-right: 15px; width: 232px;">
					<option value="" disabled="disabled" selected="selected">- {{ 'Choose your node group' | trans }} -</option>
					<option id="emptyval" value="0" style="display: none;">--- {{ 'empty' | trans }} ---</option>
					{% for nodegroup in nodegroups|dSort %}
							<option value="{{ nodegroup.id }}" size="{{ nodegroup.draft.heSize | default(1) }}">{{ nodegroup }}</option>
					{% endfor %}
				</select>
				<strong>{{ 'free rack units' | trans }}:</strong> <span id="freeUnits" style="margin-right: 15px;">0</span>
				<strong>{{ 'selected rack unit' | trans }}:</strong> <span id="selectedUnit" style="margin-right: 15px;">{{ 'none' | trans }}</span>

			<div class="rackNodeInfo">
				{% for nodegroup in nodegroups %}
					<div class="nodegroup_infos_{{ nodegroup.id }}" style="display: none;">
						<div class="row">
							<div class="span1" style="text-align: right; width: 89px; font-weight: bold;">
								{{ 'Manufacturer' | trans }}:
							</div>
							<div class="span4">
								{{ nodegroup.manufacturer }}
							</div>
						</div>
						<div class="row">
							<div class="span1" style="text-align: right; width: 89px; font-weight: bold;">
								{{ 'Product' | trans }}:
							</div>
							<div class="span4">
								{{ nodegroup.product }}
							</div>
						</div>
						<br /><table class="table table-striped" style="background-color: #fff;">
							<thead>
								<tr>
									<th class="span1">{{ 'count' | trans }}</th>
									<th>{{ 'node' | trans }}</th>
								</tr>
							</thead>
							<tbody>
								{% set displayedNodes = [] %}
								{% for node in nodegroup.nodes if node.node is not null %}
									{% if node.node.id not in displayedNodes %}
										{% set displayedNodes = displayedNodes | merge([node.node.id]) %}
										<tr>
											<td>
												{% set count = 0 %}
												{% for nodeY in nodegroup.nodes if nodeY.node is not null %}
													{% if nodeY.node.id == node.node.id %}
														{% set count = count + 1 %}
													{% endif %}
												{% endfor %}
												{{ count }}
											</td>
											<td>
												{% set first = true %}
												{% if node.node.manufacturer is not null %}
													{% if first %}{% set first = false %}{% else %}<br />{% endif %}
													<span rel="tooltip" data-original-title="{{ 'Manufacturer' | trans }}" style="font-weight: bold;">{{ node.node.manufacturer }}</span>
												{% endif %}
												{% if node.node.product is not null %}
													{% if first %}{% set first = false %}{% else %}<br />{% endif %}
													<span rel="tooltip" data-original-title="{{ 'Product' | trans }}" style="font-weight: bold;">{{ node.node.product }}</span>
												{% endif %}
												<br />{% for component in node.node.components if component.active is not null %}
													{% set transThis = 'component.' ~ component.type %}
													{% if first %}{% set first = false %}{% else %}<br />{% endif %}
													{{ component.amount }} x <span rel="tooltip" data-original-title="{{ transThis | trans }}">{{ component.active }}</span>
												{% endfor %}
											</td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% endfor %}
			</div>

			<a href="#" class="selectNodeGroup blue-button adopt eAdopt" style="margin-right: 15px;"><i class="icon-ok icon-white" style="margin-right: 5px;"></i>{{ 'adopt' | trans }}</a>
			</div>
		</div>
	</div>
	<div class="clear"></div>

	{{ form_widget(form._token) }}
{% endblock %}
