{% extends "DebbManagementBundle::form.html.twig" %}
{% form_theme form "DebbManagementBundle::form_theme.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
		'bundles/debbconfig/css/jquery-ui.min.css'
	%}
		<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
	{% endstylesheets %}
	<style>
		ul.hoz { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
		li.hoz { margin: 5px; padding: 5px; width: 150px; }
        .eDraftRack { float: left; cursor: pointer; }
	</style>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts
		'@DebbConfigBundle/Resources/public/js/jquery-ui.min.js'
		'@DebbConfigBundle/Resources/public/js/room.js'
	%}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
	<script type="text/javascript">
		var roomId = {{ form.vars.data.id | default(0) }};
	</script>
{% endblock %}

{% block content %}
	<div class="row-fluid">
		<div class="span2" style="text-align: right; width: 12.53%;">
			{{ 'Manufacturer' | trans }}:
		</div>
		<div class="span4">
			{{ form_widget(form.manufacturer) }}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span2" style="text-align: right; width: 12.53%;">
			{{ 'Product' | trans }}:
		</div>
		<div class="span4">
			{{ form_widget(form.product) }}
		</div>
		<div class="span2" style="text-align: right; width: 12.53%;">
			{{ 'Model' | trans }}:
		</div>
		<div class="span4">
			{{ form_widget(form.model) }}
		</div>
	</div>
	{{ form_widget(form.sizeX, {attr: {'style': 'display: none;'}}) }}
	{{ form_widget(form.sizeY, {attr: {'style': 'display: none;'}}) }}

	<div>
        {{ 'add.%what%' | trans({'%what%': 'rack' | trans}) }}:
		<ul class="hoz">
			{% for rack in racks %}
				<li class="hoz ui-state-default eDraftRack" style="margin-left: 0px; margin-right: 10px;"><div class="draftRack" rackId="{{ rack.id }}" rackX="{{ rack.fullz }}" rackY="{{ rack.fully }}">{{ rack }}</div></li>
			{% endfor %}
		</ul>
	</div>
	<div class="clear"></div>

	{% if form.vars.data.sizeX|default(0) < 1 %}{% set rackSizeX = 900 %}{% else %}{% set rackSizeX = form.vars.data.sizeX %}{% endif %}
	{% if form.vars.data.sizeY|default(0) < 1 %}{% set rackSizeY = 700 %}{% else %}{% set rackSizeY = form.vars.data.sizeY %}{% endif %}
	<div id="rackSize">{{ 'size' | trans }}: <span id="rackSizeX">{{ (rackSizeX / 100.0) | number_format(2, '.', '') }}</span>m x <span id="rackSizeY">{{ (rackSizeY / 100.0) | number_format(2, '.', '') }}</span>m</div>
	<div id="rackContainer" style="position: relative; width: {{ rackSizeX }}px; height: {{ rackSizeY }}px; border: 2px solid #000; background: url('{{ asset('bundles/debbconfig/img/room-grid.png') }}') repeat scroll 1px 1px transparent;" data-prototype="{{ form_row(form.racks.vars.prototype) | escape }}">
		{% for rack in form.racks %}
			<div class="rackG" posx="{{ rack.vars.data.posx }}" posy="{{ rack.vars.data.posy }}"
				 rackId="{{ rack.vars.data.id }}" rackX="{{ rack.vars.data.rack.fullz }}" rackY="{{ rack.vars.data.rack.fully }}">{{ rack.vars.data.rack }} - <a href="#" class="removeRack"><i class="icon-trash"></i></a>
				<div class="rackGform" style="display: none;">
					{{ form_widget(rack) }}
				</div>
			</div>
		{% endfor %}
	</div>
	<div class="clear"></div>
	<div id="rackScale"><i class="icon-arrow-left"></i> {{ 'Scale' | trans }} 1m <i class="icon-arrow-right"></i></div>

	{{ form_widget(form._token) }}
	<div class="clear"></div>
{% endblock %}
