{% extends "DebbManagementBundle::form.html.twig" %}
{% form_theme form "DebbManagementBundle::form_theme.html.twig" %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts '@DebbConfigBundle/Resources/public/js/nodegroup.js' %}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}

{% block content %}
	<div id="sirius">
		{% set formNodes = form.nodes | reverse %}
		{% if formNodes[0].vars.value.field == 0 %}
			{% set formNodes = formNodes | reverse %}
		{% endif %}
		{% for node in formNodes %}
			<div class="node">
				<span class="nodeTitle">&nbsp;</span>
				{{ form_widget(node, {attr: {'style': 'display: none'}}) }}
				<a href="#" class="selectNode">{{ 'select.%what%' | trans({'%what%': 'node' | trans}) }}</a>
			</div>
		{% endfor %}
	</div>

	<div id="sirius-configarea">
		<div id="grouptitle-box">
			<h5>{{ 'Manufacturer' | trans }}:</h5>
			{{ form_widget(form.manufacturer) }}
			<h5>{{ 'Product' | trans }}:</h5>
			{{ form_widget(form.product) }}
			<h5>{{ 'Model' | trans }}:</h5>
			{{ form_widget(form.model) }}
			<div class="clear"></div>
		</div>
		<div id="node-select-box">
			<h5>{{ 'select.%what%' | trans({'%what%': 'node' | trans}) }}:</h5>
			<select id="node-chooser" size="16">
				<option value="0" selected="selected">&nbsp;</option>
				{% for node in nodes %}
					{% set sText %}
						{% set first = true %}
						{% if node.manufacturer is not null %}
							{% if first %}{% set first = false %}{% else %}<br />{% endif %}
							<span rel="tooltip" data-original-title="{{ 'Manufacturer' | trans }}">{{ node.manufacturer }}</span>
						{% endif %}
						{% if node.product is not null %}
							{% if first %}{% set first = false %}{% else %}<br />{% endif %}
							<span rel="tooltip" data-original-title="{{ 'Product' | trans }}">{{ node.product }}</span>
						{% endif %}
						{% if node.model is not null %}
							{% if first %}{% set first = false %}{% else %}<br />{% endif %}
							<span rel="tooltip" data-original-title="{{ 'Model' | trans }}">{{ node.model }}</span>
						{% endif %}
						{% if node.mainboard is not null %}
							{% if first %}{% set first = false %}{% else %}<br />{% endif %}
							<span rel="tooltip" data-original-title="{{ 'Mainboard' | trans }}">{{ node.mainboard }}</span>
						{% endif %}
						<br />{% for component in node.components if component.active is not null %}
							{% set transThis = 'component.' ~ component.type %}
							{% if first %}{% set first = false %}{% else %}<br />{% endif %}
							{{ component.amount }} x <span rel="tooltip" data-original-title="{{ transThis | trans }}">{{ component.active }}</span>
						{% endfor %}
					{% endset %}
					<option value="{{ node.id }}"
							{% if node.image is not null %}img="{{ node.image.getFullPath | apply_filter('node_thumb') }}"{% endif %} text="{{ sText | e }}">
							{{ node }}</option>
				{% endfor %}
			</select>
			<div id="node-pic">&nbsp;</div>
			<a href="#" class="blue-button adopt" style="display: none;"><i class="icon-ok icon-white" style="margin-right: 5px;"></i>{{ 'adopt' | trans }}</a>
		</div>
		<div class="clear"></div>
	</div>
	{{ form_widget(form._token) }}
	<div class="clear"></div>
{% endblock %}
