<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{ 'page.title' | trans }}</title>
		{% block meta %}
			<meta name="description" content="{{ 'page.description' | trans }}" />
			<meta name="keywords" content="{{ 'page.keywords' | trans }}" />
		{% endblock %}
		{% block stylesheets %}
			{% stylesheets filter='cssrewrite'
				'bundles/debbconfig/css/bootstrap.min.css'
				'bundles/debbconfig/css/bootstrap-responsive.min.css'
				'bundles/debbconfig/css/main.css'
			%}
				<link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
			{% endstylesheets %}
		{% endblock %}
		{% block javascripts %}
			{% javascripts
				'@DebbConfigBundle/Resources/public/js/jquery.min.js'
				'@DebbConfigBundle/Resources/public/js/bootstrap.min.js'
			%}
				<script src="{{ asset_url }}" type="text/javascript"></script>
			{% endjavascripts %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
			<div id="wrapper">
				<div id="main-menu">
					<div id="app-logo"></div>
				</div>

				<div class="clear"></div>

				<div id="config-menu">
					{% block menu %}
						{{ knp_menu_render('main') }}
					{% endblock %}
				</div>

				<div id="content">
					{% block content %}{% endblock %}
				</div>

				<div class="clear"></div>

			</div>
		{% endblock %}
	</body>
</html>